html, body {
    background: #1E1E1E;
    --font-family-inter: 'Inter', sans-serif;
    --text-rgb-69-68-68: rgba(69, 68, 68, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-black: rgba(0, 0, 0, 1);
}

.text-rgb-69-68-68 {
    color: var(--text-rgb-69-68-68);
}

.text-white {
    color: var(--text-white);
}

.text-black {
    color: var(--text-black);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Prototype Links */
a.prototype-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.rectangle-1-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 70px;
}

.text-3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-69-68-68);
}

input {
    outline: none;
    display: block;
    line-height: 1.2em;
    font-size: 14pt;
}

label {
    display: block;
    font-size: 12px;
    color: blue;
}

.rectangle-2-4 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 70px;
}

.rectangle-3-5 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(95, 190, 174, 0.6499999761581421);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 70px;
}

.text-6 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.text-7 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-69-68-68);
}

.rectangle-4-8 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(217, 217, 217, 1);
}

.text-9 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

.text-10 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

.text-11 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

.rectangle-5-12 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(158, 132, 132, 1);
}

.text-13 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

.rectangle-22-14 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(217, 217, 217, 1);
}

.text-15 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

.desktop-1 {
    @media (max-width: 1440px) {
        .desktop-1 {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 768px) {
        .desktop-1 {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(47, 46, 46, 1);
}

input {
    border-radius: 70px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    outline: none;
}

button {
    margin-top: 30px;
    border-radius: 70px;
    background: #5FBEAE;
    padding: 10px 20px;
    outline: none;
}

.topic {
    background-color: #D9D9D9;
    padding: 20px 5px;
    text-align: center;
    border-radius: 5px;
}

.topic-name {
    background-color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.topic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    background: #D9D9D9;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    width: 200px
}

.recent-users {
    background-color: #6D6464;
    width: 200px;
    height: 500px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: sans-serif;
}
.card {
    display: block; text-decoration: none; color: black; background: #D9D9D9; padding: 20px; margin-bottom: 10px; border-radius: 10px;
}